@tailwind base;
@tailwind components;
@tailwind utilities;
@import './Loader.css';






/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%; 
    border: none;
    border-bottom: 2px solid #b6b6b6;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: #db3f3f;
    transition: all 0.3s ease;
}

.input-field:focus+.input-highlight {
    width: 100%;
}
.input-field:hover+.input-highlight {
    width: 100%;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}



/* //offer-lable */
.offer-lable {
    display: flex;
    content: "";
    border-top: 1rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    position: relative;
    border-left: 0.6rem solid #db3f3f;
    right: -0.2rem;
    border-radius: 0.4rem 0.5rem;
}


.inset-shadow-1 {
    box-shadow: inset 5px 5px 13px #df7979,
    inset -5px -5px 13px #a56767;
}